<% _.each(users, function(user, index) { %>		
<div class="container"><h1>Edit Page</h1>
	<!-- <form role="form" action="/user/update/<%= user.id %>" method="post" class="edit-form"> -->
	<form role="form" action="/admin/submissions/<%= user.id %>/update" method="post" class="edit-form">
		<div class="form-group">
			<span>
				<h3>
					<%= user.firstName %> <%= user.lastName %>
				</h3>	
			</span>	
		</div>
		<div class="form-group">
			<span>
				<h3>
					<%= user.email %>	
				</h3>
			</span>	
		</div>
		<div class="form-group">
			<div>
				<b>Title: </b><%= user.credential %>
			</div>
		</div>
		<div class="form-group">
			<div>
				<b>School: </b>
			</div>
			<textarea name="categories"><%= user.categories %></textarea>
		</div>
		<div class="form-group">
			<div>
				<b>Major: </b>
			</div>
			<textarea name="major"><%= user.major %></textarea>
		</div>
		<div class="form-group">
			<div>
				<b>Portfolio: </b><%= user.portfolio %>
			</div>
		</div>
		<div class="form-group">
			<div>
				<b>Company: </b><%= user.company %>
			</div>	
		</div>
		<div class="form-group">
			<div>
				<b>Responsibility: </b>
			</div>
			<textarea name="responsibility" ><%= user.responsibility %></textarea>	
		</div>
		<div class="form-group">
			<div>
				<b>Love: </b>
			</div>
			<textarea name="love"><%= user.love %></textarea>
		</div>
		<div class="form-group">
			<div>
				<b>Failure: </b>
			</div>
			<textarea name="failure"><%= user.failure %></textarea>
		</div>
		<div class="form-group">
			<div>
				<b>Wish: </b>
			</div>
			<textarea name="wish"><%= user.wish %></textarea>
		</div>
		<div class="form-group">
			<div>
				<b>Wisdom: </b>
			</div>
			<textarea name="wisdom"><%= user.wisdom %></textarea>			
		</div>
		<div class="form-group">
			<div>
				<b>Share with SFU Alumni relations: </b>
			</div>
			<span class="shareability"><%= user.share %></span>
		</div>
		<div class="form-group">
			<div>
				<b>Share with FCAT: </b>
			</div>
			<span class="shareability"><%= user.shareFcat %></span>
		</div>
		<div class="form-group">
			<div class="edit-button-wrapper">
				<input type="submit" value="Update user info" class="pull-left btn btn-success">
				<a class="btn btn-danger pull-right" href="/admin/submissions/">Cancel</a>
			</div>		
			
		</div>
	</form>
	
</div>
<% }) %>