<% _.each(users, function(user, index) { %>		
<div class="container"><h1>Edit Page</h1>
	<form role="form" action="/user/update/<%= user.id %>" method="post">
		<span>
			<h3>
				<%= user.firstName %> <%= user.lastName %>
			</h3>	
		</span>
		<span>
			<h3>
				<%= user.email %>	
			</h3>
		</span>
		<div>
			<b>Credential: </b><%= user.credential %>
		</div>
		<div>
			<b>Category: </b><%= user.categories %>
		</div>
		<div>
			<b>Portfolio: </b><%= user.portfolio %>
		</div>
		<div>
			<b>Company: </b><%= user.company %>
		</div>

		<div>
			<b>Position: </b>
			<%= user.position %>
		</div>

		<div>
			<b>Responsibility: </b>
		</div>
		<textarea name="responsibility"><%= user.responsibility %></textarea>

			<div>
				<b>Love: </b>
			</div>
		<textarea name="love"><%= user.love %></textarea>

			<div>
				<b>Failure: </b>
			</div>
		<textarea name="failure"><%= user.failure %></textarea>

			<div>
				<b>Wish: </b>
			</div>
		<textarea name="wish"><%= user.wish %></textarea>

			<div>
				<b>Wisdom: </b>
			</div>
		<textarea name="wisdom"><%= user.wisdom %></textarea>

		<div>
			<b>Share: </b>
		</div>
		<%= user.share %>

	<div>
		<input type="submit" value="Update user info" class="btn btn-info">
	</div>
	</form>

	<a class="btn btn-default" href="/admin/submissions/">Cancel</a>
</div>
<% }) %>