<%- req.flash('signup-message') %>
<div class="hero-section">
	<div class="container">
		<div>
			<!-- <img src="images/temp-banner.png" alt="FCAT Banner"> -->
		</div>
	</div>
</div>

<div class="featured-people-wrapper">
	<div class="stories-wrapper button-group">
		<div class="container" id="filters">
			<h1 class="story-title">
				Our Inspiring Stories
			</h1>
			<div class="ui-group">
				<h3>
					Schools
				</h3>
				<ul class="list-inline button-group" data-filter-group="school">
					<li>
						<button data-filter="*" class="btn-filter is-checked">
								All
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".communication">
							Communication
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".siat">
							Interactive Arts & Technology
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".art">
							Contemporary Arts
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".publishing">
							Publishing
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".media">
							Master of Digital Media
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".faculty">
							Faculty members
						</button>
					</li>
				</ul>
				<ul class="list-inline" id="contemporary-arts-subfilters" style="display: none;">
					<li>
						<button class="btn-filter" data-filter=".dance">
							Dance
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".film">
							Film	
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".music">
							Music
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".theatre-performance">
							Theatre Performance
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".theatre-production">
							Theatre Production and Design
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".visual-art">
							Visual Art
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".visual-culture">
							Visual Culture & Performance Studies 
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".film-studies">
							Film & Video Studies
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".fine-arts">
							Fine & Performing Arts
						</button>
					</li>
				</ul>

				<ul class="list-inline" id="communication-subfilters" style="display: none;">
					<li>
						<button class="btn-filter" data-filter=".dialogue">
							Dialogue
						</button>
					</li>
				</ul>
			</div>
			
			<div class="ui-group">
				<h3>Title</h3>
				<ul class="button-group list-inline" data-filter-group="title">
					<li>
						<button data-filter="*" class="btn-filter is-checked">
								All
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Alumni">
							Alumni
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Student">
							Student
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Faculty">
							Faculty
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Staff">
							Staff
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="people-wrapper">
		<% _.each(users, function(user, index) { %>
			<div class="pull-left post element-item col-md-4 <%= user.categories %>">
				<div class="inner-featured-people-wrapper">
					<a data-toggle="modal" data-target=".<%=user.id%>">
						<div class="image-wrapper">
							<img src="<%= user.avatar %>" alt="Profile picture of <%=: user.firstName | capitalize%> <%=: user.lastName | capitalize %>">
						</div>
						<h3 class="name">
							<%=: user.firstName | capitalize %>
							<%=: user.lastName | capitalize %>
						</h3>
					</a>
					<h5 class="category-study">
						<%=: user.categories | capitalize %>	
					</h5>
					<h5>
						<%=: user.company | capitalize %>	
					</h5>
					<h5>
						<%=: user.position | capitalize %>	
					</h5>
				</div>
				<hr>
			</div>	
		<% }) %>
		</div>
	</div><!--end container-->
	<!-- <div id="loadMore">Load More</div>
	<div id="showLess">Show Less</div> -->
</div>

<!-- Modal -->
<% _.each(users, function(user, index) { %>
<div class="modal fade <%=user.id%>">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"><%= user.firstName %> <%= user.lastName %></h4>
			</div>
			<div class="modal-body">
				<div class="modal-profile img-rounded center-block">
					<img src="<%= user.avatar %>" alt="Profile picture of <%=: user.firstName | capitalize%> <%=: user.lastName | capitalize %>">
				</div>
				<p><%= user.credential %></p>
				<p><%= user.categories %></p>
				<p><%= user.portfolio %></p>
				<p><%= user.company %></p>
				<p><%= user.responsibility %></p>
				<p><%= user.love %></p>
				<p><%= user.failure %></p>
				<p><%= user.wish %></p>
				<p><%= user.wisdom %></p>
			</div>
		</div>
	</div>
</div>
<% }) %>