<%- req.flash('signup-message') %>
<div class="hero-section">
	<div class="container">
		<div>
			<img src="images/fcat-conference.jpg" alt="SFU FCAT Conference">
		</div>
	</div>
</div>

<div class="featured-people-wrapper">
	<div class="stories-wrapper button-group">
		<div class="container" id="filters">
			<h1 class="story-title">
				Our Inspiring Stories
			</h1>
			<div class="ui-group">
				<h3 class="filter-titles">
					Schools
				</h3>
				<ul class="list-inline button-group button-group-school js-radio-button-group" data-filter-group="school">
					<li>
						<button data-filter="*" class="btn-filter is-checked">
								All
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Communication">
							Communication
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Interactive">
							Interactive Arts & Technology
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Contemporary">
							Contemporary Arts
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Publishing">
							Publishing
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Digital">
							Digital Media
						</button>
					</li>
		
						<button class="btn-filter" data-filter=".dance">
							Dance
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".film">
							Film	
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".music">
							Music
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".theatre-performance">
							Theatre Performance
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".theatre-production">
							Theatre Production & Design
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".visual-art">
							Visual Art
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".visual-culture">
							Visual Culture & Performance Studies 
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".film-studies">
							Film & Video Studies
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".fine-arts">
							Fine & Performing Arts
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".dialogue">
							Dialogue
						</button>
					</li>
				</ul>
			</div>
			
			<div class="ui-group">
				<h3 class="filter-titles">Title</h3>
				<ul class="button-group button-group-title list-inline" data-filter-group="title">
					<li>
						<button data-filter="*" class="btn-filter is-checked">
								All
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Alumni">
							Alumni
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Student">
							Student
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Faculty">
							Faculty
						</button>
					</li>
					<li>
						<button class="btn-filter" data-filter=".Staff">
							Staff
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="people-wrapper">
			<!-- <h4 class='no-story'>No stories just yet:(</h4> -->
		<% _.each(users, function(user, index) { %>
			<div class="pull-left post element-item col-md-4 <%= user.categories %> <%= user.credential %>">
				<div class="inner-featured-people-wrapper">
					<a data-toggle="modal" data-target=".<%=user.id%>">
						<div class="image-wrapper" style="background-image: url(<%= user.avatar %>)">
							<!-- <img src="<%= user.avatar %>" alt="Profile picture of <%=: user.firstName | capitalize%> <%=: user.lastName | capitalize %>"> -->
							<figcaption>
								<p>
									Check out <br>
									<%=: user.firstName | capitalize %>
									<%=: user.lastName | capitalize %>'s Story
								</p>
							</figcaption>
						</div>
						<h3 class="name">
							<%=: user.firstName | capitalize %>
							<%=: user.lastName | capitalize %>
						</h3>
						<h5 class="category-study">
							<%=: user.categories | capitalize %>	
						</h5>
					</a>
					
					<!-- <h5>
						<%=: user.company | capitalize %>	
					</h5>
					<h5>
						<%=: user.position | capitalize %>	
					</h5> -->
				</div>
				<hr>
			</div>	
		<% }) %>
		</div>
	</div><!--end container-->
	<!-- <div id="loadMore">Load More</div>
	<div id="showLess">Show Less</div> -->
</div>

<!-- Modal -->
<% _.each(users, function(user, index) { %>
<div class="modal fade <%=user.id%>">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"><%= user.firstName %> <%= user.lastName %></h4>
			</div>
			<div class="modal-body">
				<div class="modal-profile img-rounded center-block">
					<img src="<%= user.avatar %>" alt="Profile picture of <%=: user.firstName | capitalize%> <%=: user.lastName | capitalize %>">
				</div>
				<p><!-- TODO: hide #alumni-position span if not an alumni. make sure all categories are displayed nicely and with proper wording. -->
					<%= user.credential %> from <%= user.categories %><span id="alumni-position">, currently working as a(n) <%= user.position %> at <%= user.company %>.</span>
				</p>
				<p>
					<%= user.firstName %>'s website: <a href="<%= user.portfolio %>"><%= user.portfolio %></a>
				</p>
				<p>I love my work doing...<br><%= user.responsibility %></p>
				<p>I love my work because...<br><%= user.love %></p>
				<p>My biggest failure was when...<br><%= user.failure %></p>
				<p>I wish I had known...<br><%= user.wish %></p>
				<p>Here are some words of wisdom...<br><%= user.wisdom %></p>
			</div>
		</div>
	</div>
</div>
<% }) %>