<div class="hero-section">
	<div>
		<img src="images/temp-banner.png" alt="FCAT Banner">
	</div>
</div>
<div class="featured-people-wrapper container-fluid">

	<% _.each(users, function(user, index) { %>			
		<div class="pull-left post element-item <%= user.categories %>">
			<div class="inner-featured-people-wrapper">
				<div class="image-wrapper">
					<img src="<%= user.avatar %>" alt="Profile picture of <%=: user.firstName | capitalize%> <%=: user.lastName | capitalize %>">
				</div>
				<h3>
					<%=: user.firstName | capitalize %>
					<%=: user.lastName | capitalize %>
				</h3>
				<div>
					<%=: user.categories | capitalize %>
				</div>
				<div>
					<%=: user.position | capitalize %> at <%=: user.company | capitalize %>
				</div>
			</div>
		</div>
	
	<% }) %>
</div>