<div class="hero-section">
	<div>
		<img src="images/temp-banner.png" alt="FCAT Banner">
	</div>
</div>
<div class="featured-people-wrapper container-fluid">

	<% _.each(users, function(user, index) { %>			
		<div class="pull-left post element-item" data-filter="<%= "."+user.categories %>">
			<div class="inner-featured-people-wrapper">
				<div class="image-wrapper">
					
				</div>
				<%=: user.firstName | capitalize %>
				<%=: user.lastName | capitalize %>
				<%=: user.categories | capitalize %>
				<%=: user.position | capitalize %>
			</div>
		</div>
	
	<% }) %>
</div>