<div class="hero-section">
	<div>
		<img src="images/temp-banner.png" alt="FCAT Banner">
	</div>
</div>
<div class="featured-people-wrapper container-fluid">

	<% _.each(users, function(user, index) { %>
		<div class="pull-left post element-item <%= user.categories %>">
			<div class="inner-featured-people-wrapper">
				<div class="image-wrapper">
					<img src="<%= user.avatar %>" alt="Profile picture of <%=: user.firstName | capitalize%> <%=: user.lastName | capitalize %>">
				</div>
				<h3>
					<%=: user.firstName | capitalize %>
					<%=: user.lastName | capitalize %>
				</h3>
				<h5>
					<%=: user.categories | capitalize %>	
				</h5>
				<h5>
					<%=: user.company | capitalize %>	
				</h5>
				<h5>
					<%=: user.position | capitalize %>	
				</h5>
			</div>
		</div>
	
	<% }) %>
</div>